<ul class="nav flex-column mb-auto">
  <li class="nav-item mb-2">
    <a routerLink="/dashboard"
       routerLinkActive="bg-orange"
       [routerLinkActiveOptions]="{ exact: true }"
       class="nav-link d-flex align-items-center text-dark rounded-3 p-2 shadow-sm">
      <i class="bi bi-shop fs-5 me-2  p-1 rounded-3"></i>
      Dashboard
    </a>
  </li>

  <li class="nav-item mb-2">
    <a routerLink="/products"
       routerLinkActive="bg-orange"
       [routerLinkActiveOptions]="{ exact: true }"
       class="nav-link d-flex align-items-center text-dark rounded-3 p-2 shadow-sm">
      <i class="bi bi-table fs-5 me-2"></i>
      Products
    </a>
  </li>


</ul>
