  <div class="container-fluid align-items-center d-flex">
    <button class="btn btn-outline-secondary d-md-none me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="d-flex justify-content-between w-75 flex-wrap align-items-center m-auto">
      <div class="flex-column justify-content-start">
        <h6><span class="light fs-6 mb-2">Pages</span> / Dashboard</h6>
        <h5 class="fw-bold">Dashboard</h5>
      </div>
    </div>
  </div>
